* {
    margin: 0px;
    padding: 0px;
}
button {
    background-color: transparent;
    border: 0;
}
button:focus {
    outline: none;
}
a:focus {
    outline: none;
}
input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
textarea {
    resize: none;
}

/* prompt */
.promptOff {
    display: none;
}
.promptOn {
    /* background-color: black; */
    position: absolute;
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promptOn > main {
    border: 1px solid black;
    background-color: white;
    width: 300px;
    margin: 10px;
    padding: 10px;
}
.promptOn > main > h1 {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 30px;
}
.promptOn > main > h2 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}
.promptOn > main > aside {
    display: flex;
    justify-content: center;
}
.promptOn > main > aside > button {
    border: 2px outset white;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: auto;
    font-size: 18px;
    padding: 5px;
}




/* /auth=login or /auth=signup */

.authForm {
    border: 1px solid black;
    background-color: lightgray;
    padding: 5px;
}
.authForm > h1 {
    border-bottom: 1px solid black;
    text-align: center;
    font-style: italic;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.authForm > p {
    text-align: center;
}
.authForm > p > span {
    text-decoration: underline;
}
.authForm > input {
    display: block;
    border: 2px inset white;
    width: 75%;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    font-family: auto;
    font-size: 18px;
    text-align: center;
}
.authForm > span {
    color: red;
    display: block;
    text-align: center;
}
.authForm > button {
    border: 2px outset white;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: auto;
    font-size: 18px;
    padding: 3px;
}



/* /dashboard */
/* dashboard nav */
.dashboardNav {
    border: 1px solid black;
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}
.dashboardNav > a {
    font-size: 18px;
}





/* /dashboard */
/* shop details */
.shopDetails {
    border: 1px solid black;
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
}
.shopDetails > h1 {
    border-bottom: 1px solid black;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.shopDetails > h1:hover {
    text-decoration: underline;
    cursor: pointer;
}
.shopDetails > section {
    display: flex;
    justify-content: flex-end;
}
.shopDetails > section > span {
    font-size: 16px;
    padding: 3px;
}






/* /dashboard/shop */
/* shop for admin */
.dashboardShop {
    border: 1px solid black;
    background-color: lightgray;
    padding: 5px;
}
.dashboardShop > h1 {
    border-bottom: 1px solid black;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.dashboardShop > form {
    border: 1px solid black;
    background-color: gray;
    padding: 5px;
    margin-bottom: 5px;
}
.dashboardShop > form > h1 {
    border-bottom: 1px solid black;
    color: white;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.dashboardShop > form > input {
    display: block;
    border: 2px inset white;
    width: 75%;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    font-family: auto;
    font-size: 18px;
    text-align: center;
}
.dashboardShop > form > button {
    border: 2px outset white;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: auto;
    font-size: 18px;
    padding: 3px;
}





/* category display */
.dashboardShop > main {
    border: 1px solid black;
    background-color: gray;
    padding: 5px;
}
.dashboardShop > main > h1 {
    border-bottom: 1px solid black;
    color: white;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.dashboardShop > main > section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
}
.dashboardShop > main > section > h1 {
    /* font-weight: normal; */
    font-size: 23px;
}
.dashboardShop > main > section > aside {
    display: flex;
    align-items: center;
}
.dashboardShop > main > section > aside > span {
    font-size: 23px;
    margin-left: 5px;
    margin-right: 5px;
}





/* edit form of category */
.dashboardShop > main > form {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}
.dashboardShop > main > form > input {
    font-size: 23px;
    font-family: auto;
    font-weight: bold;
    width: 118px;
    border: 2px inset white;
}
.dashboardShop > main > form > aside {
    display: flex;
    align-items: center;
}
.dashboardShop > main > form > aside > span {
    font-size: 23px;
    margin-left: 5px;
    margin-right: 5px;
}
.dashboardShop > main > form > aside > button {
    font-size: 15px;
    font-family: auto;
    border: 2px outset white;
    padding: 1px;
    margin-left: 5px;
    margin-right: 5px;
}






/* /dashboard/category/:id */
/* list of product of category */
.dashboardCategoryList {
    border: 1px solid black;
    background-color: lightgray;
    padding: 5px;
}
.dashboardCategoryList > h1 {
    border-bottom: 1px solid black;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.dashboardCategoryList > form {
    border: 1px solid black;
    background-color: gray;
    padding: 5px;
    margin-bottom: 5px;
}
.dashboardCategoryList > form > h1 {
    border-bottom: 1px solid black;
    color: white;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.dashboardCategoryList > form > input {
    display: block;
    border: 2px inset white;
    width: 75%;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    font-family: auto;
    font-size: 18px;
    text-align: center;
}
.dashboardCategoryList > form > button {
    border: 2px outset white;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: auto;
    font-size: 18px;
    padding: 3px;
}



/* products displayed */
.dashboardCategoryList > main {
    border: 1px solid black;
    background-color: gray;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.dashboardCategoryList > main > section {
    border: 1px solid black;
    overflow: hidden;
    /* as it gets bigger, implement the new width and margins */



    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    margin-top: 5px;
    margin-bottom: 5px;




    /* width: 275px; */
    width: 100%;
    height: 300px;
}







.dashboardCategoryList > main > section > aside {
    position: relative;
    top: -300px;
}
.dashboardCategoryList > main > section > aside > h1 {
    font-weight: normal;
    font-size: 32px;
    font-style: italic;
    padding: 5px;
    padding-top: 3px;
}







.dashboardCategoryList > main > section > section {
    width: 100%;
    height: 76%;
}
.dashboardCategoryList > main > section > section > img {
    height: 100%;
    width: 100%;


}
.inStock {
    background-color: rgba(121, 121, 121, 0.3);
    text-align: center;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.3);
    transform: skewY(-40deg);
    position: relative;
    top: -101px;
    opacity: 0;
}
.soldOut {
    background-color: rgba(255, 238, 0, 0.3);
    text-align: center;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.3);
    transform: skewY(-40deg);
    position: relative;
    top: -101px;
}







.dashboardCategoryList > main > section > main {
    padding: 5px;
    /* border: 1px solid black; */
}
.dashboardCategoryList > main > section > main > h2 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.dashboardCategoryList > main > section > main > section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboardCategoryList > main > section > main > section > p:nth-child(1) {
    font-size: 20px;
    padding-right: 5px;
}
.dashboardCategoryList > main > section > main > section > p:nth-child(2) {
    font-size: 18px;
    margin-right: 5px;
}
.dashboardCategoryList > main > section > main > section > p:nth-child(3) {
    text-decoration: line-through;
    font-size: 14px;
    font-style: italic;
    color: rgb(58, 58, 58);
}
.dashboardCategoryList > main > section > main > section > p:nth-child(4) {
    font-size: 22px;
    margin-left: 10px;
    padding-right: 10px;
}
.dashboardCategoryList > main > section > main > section > p:nth-child(5) {
    font-size: 18px;
    color: orange;
}





.headersection {

    
}
.psection {
    background-color: #0f3e62cc;
}




